<h1> Services Management </h1>

<br>

<h3> Available Services: </h3>

<ul>
<% @services.each do |service| %>
    <li><%= link_to "#{service.name} - #{service.carrier.name}", service_path(service) %></li>
<% end %>
</ul>

<br><br>

<b><%= link_to "Create a New Service", new_service_path %></b>
<br><br>
<%= link_to "Home", user_path(current_user)%>