<h1> Services Management </h1>

<br>

<h3> Available Services: </h3>

<ul>
<% @services.each do |service| %>
    <li><h4><%= link_to "#{service.name} - #{service.carrier.name}", service_path(service) %></h4></li>
<% end %>
</ul>

<br><br>

<b><%= link_to "Create a New Service", new_service_path %></b>