<div class="welcome_container">
    <div class="backwelcome">
        <div class="welcome">
            <h1 class="loglogo"> LOGISTIX </h1>
            <h2><i> Keep track of your shipments! </i></h2>

            <br>

            <b>
                <p class="welcome_button"><%= link_to "Login", login_path %></p><br>
                <p class="welcome_button"><%= link_to "Sign Up", signup_path %></p><br>
                <p class="welcome_button"><%= link_to "Sign In with Google", "/auth/google_oauth2" %> <img src="https://cdn.iconscout.com/icon/free/png-256/google-470-675827.png" height="17px" width="17px"></p>
            </b>
        </div>
    </div>
</div>