<h1> Logistix </h1>
<h2><i> Track your shipments! </i></h2>

<br><br>

<p><b>
    <%= link_to "Login", login_path %>
    <br><br>
    <%= link_to "Sign Up", signup_path %>
    <br><br>
    <%= link_to "Sign In with Google", "/auth/google_oauth2" %>
</b></p>