body {
    background: url("https://i.imgur.com/uONfVBN.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Lora', serif;
    font-weight: 300;
    margin: auto;
  }

.backwelcome {
    background-color: #083;
    height: 550px;
    width: 600px;
    margin: 0 auto;
    opacity: 85%;
    text-align: center;
}

.welcome {
    opacity: 400%;
    color: white;
    text-shadow: 1px 1px black;
}

.welcome a {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    opacity: 400%;
}

p.welcome_button {
    display: inline-block;
    background-color: #333;
    height: 30px;
    width: 200px;
    color: white;
    padding-top: 8px;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    opacity: 400%;
    transition: 0.4s;
}

p.welcome_button:hover {
    background-color: #ac0;
    transition: 0.4s;
}

h1.loglogo {
    padding-top: 40px;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 80px;
    opacity: 100%;
}

h1.loglogoleft {
    position: absolute;
    top: -11px;
    left: 8px;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 30px;
}

.topnavbar {
    text-align: right;
    color: white;;
    background-color: #083;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-shadow: 1px 1px black;
    margin: 0px;
}  

.topnavbar a {
    text-decoration: none;
    font-size: 17px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: white;
    padding: 14px 16px;
  }

  .topnavbar a:hover {
    color: #ac0;
    transition: 0.3s;
  }

  .login {
    height: 260px;
    width: 300px;
    background-color: #083;
    opacity: 85%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    
    margin: auto;
  }

  .login h1 {
    padding-top: 10px;
  }

  .new_user {
    height: 250px;
    width: 350px;
    background-color: #083;
    opacity: 85%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    
    margin: auto;
  }

  .new_user h1 {
    padding-top: 20px;
  }