body {
    background-color: white;
    background-size: cover;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #333;
    margin: auto;
  }

body a {
    text-decoration: none;
}

.topnavbar {
    text-align: center;
    color: white;
    background-color: purple;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-shadow: 1px 1px black;
    margin: 0px;
}  

.topnavbar a {
    text-decoration: none;
    font-size: 17px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: white;
    padding: 14px 16px;
  }