<h1> Welcome back, <%= @user.username %>! </h1>

<br><br>

<%= link_to "Create New Shipment", new_shipment_path %>
<br>
<%= link_to "Service Management", services_path %>
<br>
<%= link_to "All Shipments", shipments_path %>