<h1> All Shipments </h1>

<br><br>

<ul>
<% @shipments.each do |shipment| %>
    <li><%= shipment.customer %> (Shipped on: <%= shipment.ship_date %>)<li><br><br>
<% end %>
</ul>

<br><br>

<%= link_to "Home", user_path(current_user)%>