<h1> All Shipments </h1>

<br><br>


<% @shipments.each do |shipment| %>
    <h2><%= shipment.customer %></h2>
    <p><%= shipment.service.name %> - <%= shipment.service.carrier.name%></p> 
    <p>Shipped on: <%= shipment.ship_date %></p><br><br>
<% end %>


<br><br>