<h1> All Shipments </h1>

<br><br>


<% @shipments.each do |shipment| %>
    <h3><%= shipment.customer %></h3> 
    <p>Shipped on: <%= shipment.ship_date %></p><br><br>
<% end %>


<br><br>

<%= link_to "Home", user_path(current_user)%>