<% if object.errors.any? %> 
  <div>
    <h3 class="error">Oops! Something went wrong, please see below:</h3>
 
        <% object.errors.full_messages.each do |msg| %>
            <p class="error"><%= msg %>.<br></p>
        <% end %>
  </div>
<% end %>

<br><br>